.promo {
  background: #073042;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.promo__container {
  padding: 124px 70px 60px 70px;
  background: #073042;

  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;

  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

.promo__header {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #FFFFFF;

  max-width: 628px;

  margin: 0;
}

.promo__image {
  align-self: end;
  margin-top: auto;
}

@media only screen and (max-width: 877px) {
  .promo__header {
    max-width: 680px;
  }

  .promo__image {
    width: 680px;
    position: relative;
    object-position: center;
    object-fit: cover;
    align-self: center;
  }
}

@media only screen and (max-width: 769px) {
  .promo__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 374px 44px 70px 44px;
    height: 844px;
  }

  .promo__header {
    max-width: 680px;
    text-align: center;
    padding-bottom: 140px;
  }

  .promo__image {
    width: 680px;
    position: relative;
    object-position: center;
    object-fit: cover;
  }
}

@media only screen and (max-width: 500px) {
  .promo__container {
    padding: 257px 10px 40px 10px;
    height: 630px;
  }

  .promo__header {
    font-size: 31px;
    line-height: 39px;
    padding-bottom: 0;
  }

  .promo__image {
    margin-top: 60px;
    height: 320px;
  }
}
