.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 396px;
}

.button_type_register {
  width: 100%;
  max-width: 398px;
  margin: 152px 0 0 0;
}

.auth-form_type_register {
  padding-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .register__logo {
    margin-bottom: 50px;
  }

  .button_type_register {
    width: 100%;
    max-width: 260px;
    margin: 157px auto 14px auto;
  }
}
