.auth-caption {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #8B8B8B;
  margin: 0;
}

.auth-caption__link {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #4285F4;

  text-decoration: none;
}

@media screen and (max-width: 500px){

  .auth-caption {
    font-size: 12px;
    line-height: 15px;
  }

  .auth-caption__link {
    font-size: 12px;
    line-height: 15px;
  }
}
